<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <input type="text" placeholder="FIrstname" name="firstname" />
      <input type="text" placeholder="Lastnmae" name="lastname" />
      <input type="text" placeholder="Email" name="Email" />
      <input type="text" placeholder="Password" name="Password" />
      <button>Sign Up</button>
    </form>
  </body>
</html>
